body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: red;
  color: white;
}
h1 {
  font-size: 2rem;
}
#timer {
  font-size: 3rem;
  font-weight: bold;
  margin: 20px 0;
}
#controls {
  display: flex;
  justify-content: center;
}
#tasks {
  display: flex;
  justify-content: center;
}
button {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: green;
  border-style: none;
}